/Team/migrations
/Events/migrations
/Speakers/migrations
/ProblemStatements/migrations
/Counter/migrations
/Sponsors/migrations
/ShortlistedTeams/migrations
/Winners/migrations
/Glimpses/migrations
/dev-env
/static
/Team/__pycache__
/Events/__pycache__
/Speakers/__pycache__
/ProblemStatements/__pycache__
/server/__pycache__